[
    {kernel,
        [
            {distributed, [
                {b_master,
                5000,
                [
                    b_master@angolinha,
                    b_balancer@angolinha,
                    {
                        b_server1@angolinha,
                        b_server2@angolinha,
                        b_server3@angolinha,
                        b_server4@angolinha,
                        b_server5@angolinha
                    }
                ]
                },
                {b_balancer,
                5000,
                [
                    b_balancer@angolinha,
                    b_master@angolinha,
                    {
                        b_server1@angolinha,
                        b_server2@angolinha,
                        b_server3@angolinha,
                        b_server4@angolinha,
                        b_server5@angolinha
                    }
                ]
                }
            ]
            },
            {sync_nodes_mandatory, [b_master@angolinha, b_balancer@angolinha]},
            {sync_nodes_timeout, 30000}
        ]
    }
].